---js
const eleventyNavigation = {
	key: "4612",
	order: 4
};
---
<h1>4612</h1>

<p>A "worlds-building" project and short story series about multiverses.</p>

<p>This series contains some of my earliest works and although I've improved since then (and every entry here has been re-edited by 2025-me), chances are these aren't impressive to the common man. Please be nice. :)</p>

<h1>:Elevator Pitch</h1>

<p><a href="http://localhost:8080/writing-break/4612/1_hello/">A man</a> drifts alone in a Void, with no memory of how he got there. In his possession is a strange stone tablet with the symbols <code>4612</code> engraved on its surface. What does it do? How does he get out of here? <a href="http://localhost:8080/writing-break/4612/9_first-contact/">What is that squirming dark shape in the distance?</a></p>

<p>And in his forgotten past is <a href="http://localhost:8080/writing-break/4612/6_siezed/">Atro</a>, a boy on his search to find a new home in a medieval fantasy world with a tinge of sci-fi. How does his adventures leave him stranded in the Void?</p>

<p>Hooked? Buy now for $9999 (per word)!</p>

<h2>So it begins:</h2>
{% set postslist = collections["4612"] %}
{% include "compactpostslist.njk" %}
