---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 5;
---
{# {% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}">{{ tag }}</a></li>
{% endfor %} #}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
	<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in the list of <a href="posts.njk">all posts</a>.</p>
{% endif %}

<h1>Chef's Picks</h1>

<p>🏔️ <a href="/stories/8_atlas-ascends"><b>Atlas Ascends</b></a> (~10 mins): My take on the Ancient Greek creation myth, and on Atlas who holds up the Sky.</p>
<p>🌕 <a href="/poetry/2_the-moon-is-burning"><b>The Moon Is Burning</b></a>: A poem about a moon that burns in a world gone wrong.</p>
<p>⏳ <a href="/stories/7_800-years-of-practical-work-experience"><b>800 Years of Practical Work Experience</b></a> (~11 mins): Bob is in Part III Software Engineering and has 0 hours to his name. All he's ever wanted for the past 2 years was that wretched, glorious internship. He’d do anything for the practical work hours. Anything...</p>
<p>🐦 <a href="/poetry/3_taken-by-surprise"><b>Taken By Surprise</b></a>: A poem about love, birds and fridges.</p>
<p>💻 <a href="/song-parodies/3_web-dev-devotee"><b>Web Dev Devotee</b></a>: 🎶 Using Claude Code in the middle of night ~ Just another web dev devotee 🎶</p>
<p>🌌 <a href="/4612/2_an-introduction-to-multiverses"><b>An Introduction to Multiverses</b></a> (~5 mins): A basic introduction to multiverses that explains parallel universes, multiversal travel and- <i>gunshot</i></p>
<p>🎙️ <a href="/4612/23_ban-eylens-interview"><b>Ban Eylen's Interview</b></a> (~15 mins): Read now for the low low price of $999999 (per word)!</p>

<h1>Recently Updated</h1>
{% set postslist = collections["recently-updated"] | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "sortedpostslist.njk" %}

{% if morePosts > 0 %}
	<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in the list of <a href="/tags/recently-updated">recently updated posts</a>.</p>
{% endif %}

{# <p>Categories: TODO</p> #}

{# {% set mostRecent = collections.posts | first %} #}
{# <p>Read the <a href={{ mostRecent.url }}>:Latest Post</a>!</p> #}

{# List every content page in the project #}
{# <ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> #}

