{%- if collections.posts %}
	<div class="links-bordertop"></div>

	<div class="links-nextprevwrapper">
		{%- set previousPost = collections.posts | getPreviousCollectionItem %}
		<ul class="links-nextprev">
			{%- for tag in tags | filterTagList %}
				{%- set previousTagged = collections[ tag ] | getPreviousCollectionItem %}
				{%- set showPreviousTagged = previousTagged and previousTagged !== previousPost %}
				{%- if showPreviousTagged %}
					<a class="links-nextprev-prev" href="{{ previousTagged.url }}">
						<b>← Previous in {{ tag }}</b>
						<br>
						<span href="{{ previousTagged.url }}">{{ previousTagged.data.title }}</span>
					</a>
				{%- endif %}
			{%- endfor %}
			{%- if previousPost %}
				<a class="links-nextprev-prev" href="{{ previousPost.url }}">
					{%- for tag in tags | filterTagList %}
						{%- set previousTagged = collections[ tag ] | getPreviousCollectionItem %}
						{%- if previousTagged and previousTagged == previousPost %}
							<b>← Previous in {{ tag }}</b>
							<br>
						{%- endif %}
					{%- endfor %}
					<b>← Previous</b>
					<br>
					<span>{{ previousPost.data.title }}</span>
				</a>
			{%- endif %}
		</ul>

		{%- set nextPost = collections.posts | getNextCollectionItem %}
		<ul class="links-nextprev">
			{%- for tag in tags | filterTagList %}
			{%- set nextTagged = collections[ tag ] | getNextCollectionItem %}
			{%- set showNextTagged = nextTagged and nextTagged !== nextPost %}
				{%- if showNextTagged %}
					<a class="links-nextprev-next" href="{{ nextTagged.url }}">
						<b>Next in {{ tag  }} →</b>
						<br>
						<span>{{ nextTagged.data.title }}</span>
					</a>
				{% endif %}
			{%- endfor %}
			{%- if nextPost %}
				<a class="links-nextprev-next" href="{{ nextPost.url }}">
					{%- for tag in tags | filterTagList %}
						{%- set nextTagged = collections[ tag ] | getNextCollectionItem %}
						{%- if nextTagged and nextTagged == nextPost %}
							<b>Next in {{ tag }} →</b>
							<br>
						{%- endif %}
					{%- endfor %}
					<b>Next →</b>
					<br>
					<span>{{ nextPost.data.title }}</span>
				</a>
			{% endif %}
		</ul>
	</div>
{%- endif %}
