---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

<div class="precontent">
	<h1>{{ title }}</h1>

	<ul class="post-metadata">
		<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("d LLLL yyyy") }}</time></li>
		Tags:
		{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
		{%- endfor %}
	</ul>

	{% include "../wordCount.njk" %}

	{# TABLE OF CONTENTS IS DISABLED FOR NOW #}
	
	{# {%- if not noToc %}
	<a href="#table-of-contents">:Table of Contents</a>
	{%- endif%} #}

	<p><i>{{ description }}</i></p>

	{# <h3>:xTable of Contents</h3> #}
	{# <p>{{ content | toc | safe }}</p> #}
</div>

<p class="contentstart"><i>content:</i></p>

{{ content | safe }}

<script>{% include "../readerBar.js" %}</script>

{% include "../nextPrevLinks.njk" %}