---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	Tags:
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

<p><i>{{ description }}</i></p>

{{ content | safe }}
<script>{% include "../readerBar.js" %}</script>

{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	<div class="links-bordertop"></div>
	{# Next/prev in a certain tag #}
	{%- for tag in tags | filterTagList %}
		{%- set previousTagged = collections[ tag ] | getPreviousCollectionItem %}
		{%- set nextTagged = collections[ tag ] | getNextCollectionItem %}
		{%- set showPreviousTagged = previousTagged and previousTagged !== previousPost %}
		{%- set showNextTagged = nextTagged and nextTagged !== nextPost %}
		{%- if showNextTagged or showPreviousTagged %}
			<ul class="links-nextprev">
				{%- if showPreviousTagged %}<li class="links-nextprev-prev">← Previous in {{ tag }}<br> <a href="{{ previousTagged.url }}">{{ previousTagged.data.title }}</a></li>{% endif %}
				{%- if showNextTagged %}<li class="links-nextprev-next">Next in {{ tag  }} →<br><a href="{{ nextTagged.url }}">{{ nextTagged.data.title }}</a></li>{% endif %}
			</ul>
		{%- endif %}
	{%- endfor %}

	{# Next/prev in all posts #}
	{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}
				<li class="links-nextprev-prev">
					{%- for tag in tags | filterTagList %}
						{%- set previousTagged = collections[ tag ] | getPreviousCollectionItem %}
						{%- if previousTagged and previousTagged == previousPost %}← Previous in {{ tag }}<br>{%- endif %}
					{%- endfor %}
					← Previous<br>
					<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
				</li>
			{% endif %}
			{%- if nextPost %}
				<li class="links-nextprev-next">
					{%- for tag in tags | filterTagList %}
						{%- set nextTagged = collections[ tag ] | getNextCollectionItem %}
						{%- if nextTagged and nextTagged == nextPost %}Next in {{ tag }} →<br>{%- endif %}
					{%- endfor %}
					Next →<br>
					<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
				</li>
			{% endif %}
		</ul>
	{%- endif %}
{%- endif %}

	{# {%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}

	{# Next/prev in a certain tag #}
	{# {%- for tag in tags | filterTagList %}
		{%- set previousTagged = collections[ tag ] | getPreviousCollectionItem %}
		{%- set nextTagged = collections[ tag ] | getNextCollectionItem %}
		{%- if nextTagged or previousTagged %}
			<ul class="links-nextprev">
				{%- if previousTagged  %}<li class="links-nextprev-prev">← Previous in {{ tag }}<br> <a href="{{ previousTagged.url }}">{{ previousTagged.data.title }}</a></li>{% endif %}
				{%- if nextTagged %}<li class="links-nextprev-next">Next in {{ tag  }} →<br><a href="{{ nextTagged.url }}">{{ nextTagged.data.title }}</a></li>{% endif %}
			</ul>
		{%- endif %}
	{%- endfor %} #}

	{# Next/prev in all posts #}
	{# {%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
		</ul>
	{%- endif %} #}